DocumentPlugin/x64/Release/DocumentPlugin.tlog/DocumentPlugin.lastbuildstate
DocumentPlugin/x64/Release/DocumentPlugin.tlog/link.command.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/link.read.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/CL.write.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/CL.read.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/link.write.2u.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/link.write.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.tlog/CL.command.1.tlog
DocumentPlugin/x64/Release/DocumentPlugin.pdb
DocumentPlugin/x64/Release/vc143.pdb
DocumentPlugin/x64/Release/DocumentPlugin.Build.CppClean.log
DocumentPlugin/x64/Release/dllmain.obj
DocumentPlugin/.vs/
UnitTest/x64/Release/UnitTest.tlog/
UnitTest/x64/Release/UnitTest.iobj
UnitTest/x64/Release/UnitTest.obj
UnitTest/x64/Release/UnitTest.dll.recipe
UnitTest/x64/Release/
DocPluginHost/x64/Debug/
DocumentCore/x64/Release/CsvDocument.obj
DocumentCore/x64/Release/
DocumentPlugin/x64/Release/
DocPluginHost/.vs/DocPluginHost/
WordCountPlugin/x64/Release/WordCountPlugin.Build.CppClean.log
WordCountPlugin/x64/Release/
DocumentPlugin/DocumentPlugin/x64/Release/
PluginManager/x64/Release/
EncryptionPlugin/x64/Release/
